<div class="side-bar" [ngClass]="isExpand ? 'large' : 'small'">
  <div class="list-group mt-30">

    <a class="list-group-item font-1-medium d-flex align-items-center" [routerLinkActive]="['router-link-active']"
      routerLink="/dashboard" #rla1="routerLinkActive">
      <button matTooltipPosition="right" matTooltip="Dashboard" [matTooltipDisabled]="isExpand" class="icons btn">
        <img class="icon" [src]="'assets/images/sidebar-icons/comp-pro-wh.svg'" alt="" />
      </button>
      <span *ngIf="isExpand">{{ "Dashboard" }}</span>
    </a>

    <a class="list-group-item font-1-medium d-flex align-items-center" [routerLinkActive]="['router-link-active']"
      routerLink="/factory" #rla2="routerLinkActive">
      <button matTooltipPosition="right" matTooltip="Factory" [matTooltipDisabled]="isExpand" class="icons btn">
        <img class="icon" [src]="'assets/images/sidebar-icons/mysystem-wh.svg'" alt="" />
      </button>
      <span *ngIf="isExpand">{{ "Factory" }}</span>
    </a>

    <a class="list-group-item font-1-medium d-flex align-items-center" [routerLinkActive]="['router-link-active']"
      routerLink="/machines" #rla3="routerLinkActive">
      <button matTooltipPosition="right" matTooltip="Machines" [matTooltipDisabled]="isExpand" class="icons btn">
        <img class="icon" [src]="'assets/images/sidebar-icons/configure-wh.svg'" alt="" />
      </button>
      <span *ngIf="isExpand">{{ "Machines" }}</span>
    </a>

    <a class="list-group-item font-1-medium d-flex align-items-center" [routerLinkActive]="['router-link-active']"
      routerLink="/socket" #rla3="routerLinkActive">
      <button matTooltipPosition="right" matTooltip="Socket" [matTooltipDisabled]="isExpand" class="icons btn">
        <img class="icon" [src]="'assets/images/sidebar-icons/configure-wh.svg'" alt="" />
      </button>
      <span *ngIf="isExpand">{{ "Socket" }}</span>
    </a>

  </div>
</div>
