<div class="side-bar" [ngClass]="isExpand ? 'large' : 'small'">
  <!-- <div class="goto-btn">
    <a class="gotobutton font-1-medium d-flex align-items-center justify-content-center py-1" [href]="goToFramework">
      <button matTooltipPosition="right" matTooltip="To module overview" [matTooltipDisabled]="isExpand"
        class="icons btn"><img class="icon" src="./assets/images/icons/green_arrow.svg" alt=""></button>
      <span *ngIf="isExpand">{{ "To module overview" }}</span>
    </a>
  </div> -->
  <div class="list-group mt-30">

    <a class="list-group-item font-1-medium d-flex align-items-center" [routerLinkActive]="['router-link-active']"
      routerLink="/dashboard" #rla1="routerLinkActive">
      <button matTooltipPosition="right" matTooltip="Company profile" [matTooltipDisabled]="isExpand"
        class="icons btn">
        <!-- <img class="icon" [src]="rla1.isActive ? 'assets/images/sidebar-icons/comp-pro-wh.svg' : 'assets/images/sidebar-icons/comp-pro.svg'" alt="" /> -->
        <img class="icon" [src]="'assets/images/sidebar-icons/comp-pro-wh.svg'" alt="" />
      </button>
      <span *ngIf="isExpand">{{ "Dashboard" }}</span>
    </a>

    <a class="list-group-item font-1-medium d-flex align-items-center" [routerLinkActive]="['router-link-active']"
      routerLink="/machines" #rla2="routerLinkActive">
      <button matTooltipPosition="right" matTooltip="Configure" [matTooltipDisabled]="isExpand"
        class="icons btn">
        <!-- <img class="icon" [src]="rla2.isActive ? 'assets/images/sidebar-icons/configure-wh.svg' : 'assets/images/sidebar-icons/configure.svg'" alt="" /> -->
        <img class="icon" [src]="'assets/images/sidebar-icons/configure-wh.svg'" alt="" />
      </button>
      <span *ngIf="isExpand">{{ "Machines" }}</span>
    </a>

    <a class="list-group-item font-1-medium d-flex align-items-center" [routerLinkActive]="['router-link-active']"
      routerLink="/cold-storage" #rla3="routerLinkActive">
      <button matTooltipPosition="right" matTooltip="Systems" [matTooltipDisabled]="isExpand"
        class="icons btn">
        <!-- <img class="icon" [src]="rla3.isActive ? 'assets/images/sidebar-icons/mysystem-wh.svg' : 'assets/images/sidebar-icons/mysystem.svg'" alt="" /> -->
        <img class="icon" [src]="'assets/images/sidebar-icons/mysystem-wh.svg'" alt="" />
      </button>
      <span *ngIf="isExpand">{{ "Cold storage" }}</span>
    </a>

  </div>


  <!-- <div class="radio-btn d-lg-none">
    <label id="radio-group-label">Language</label>
    <mat-radio-group class="radio-group" [(ngModel)]="selectedLanguage">
      <mat-radio-button class="radio-button" *ngFor="let language of languageList" [value]="language.code">
        {{ language.name}}
      </mat-radio-button>
    </mat-radio-group>
  </div> -->
</div>
