<div class="row mx-0 h-100 max-height">
  <div class="p-4 div-border w-100">
    <div class="col-12 px-0" style="border-radius: 5px;">
      <div class="p-3">
        <p class="text-m text-light"> <b> Availablity </b> </p>
      </div>
    </div>
    <div class="col-12 bg-success" style="border-radius: 5px;">
      <div class="p-3">
        <div class="text-m text-dark">
          <span class="opacity-50"> Run hours: </span>
          <p class="mb-0 text-light d-inline text-lg opacity-100"> 15 hrs </p>
        </div>
      </div>
    </div>
    <div class="col-12 bg-primary my-3" style="border-radius: 5px;">
      <div class="p-3">
        <div class="text-m text-light">
          <span class="opacity-50"> Idle time: </span>
          <p class="mb-0 d-inline text-lg opacity-100"> 2 hrs </p>
        </div>
      </div>
    </div>
    <div class="col-12 bg-danger" style="border-radius: 5px;">
      <div class="p-3">
        <div class="text-m text-light">
          <span class="opacity-50"> Down time: </span>
          <p class="mb-0 d-inline text-lg opacity-100"> 3 hrs </p>
        </div>
      </div>
    </div>
  </div>

</div>
