<div class="row mx-0 h-100 max-height">
  <div class="p-4 div-border w-100">
    <div class="col-12 px-0" style="border-radius: 5px;">
      <div class="p-3">
        <p class="text-m text-light"> <b> Performance & Quality </b> </p>
      </div>
    </div>
    <div class="col-12 bg-primary" style="border-radius: 5px;">
      <div class="p-3">
        <div class="text-m text-light">
          <span class="opacity-50"> Production: </span>
          <p class="mb-0 d-inline text-lg opacity-100"> 1250 Nos </p>
        </div>
      </div>
    </div>
    <div class="col-12 bg-danger my-3" style="border-radius: 5px;">
      <div class="p-3">
        <div class="text-m text-light">
          <span class="opacity-50"> Rejection: </span>
          <p class="mb-0 d-inline text-lg opacity-100"> 20 Nos </p>
        </div>
      </div>
    </div>
    <div class="col-12 bg-info" style="border-radius: 5px;">
      <div class="p-3">
        <div class="text-m text-light">
          <span class="opacity-50"> Production rate: </span>
          <p class="mb-0 d-inline text-lg opacity-100"> 50 PPM </p>
        </div>
      </div>
    </div>
  </div>

</div>
