<div class="row mx-0 h-100 max-height">
  <div class="p-4 div-border w-100 h-100">
    <div class="col-12 d-flex align-items-center justify-content-between">
      <p class="text-m text-light"> <b> Count </b> </p>
      <div>
        <app-selectbox [options]="utilityService.calenderFilter" [nameField]="'name'" [defaultOptionId]="''"
          (selectEvent)="calenderSelection($event)">
        </app-selectbox>
      </div>
    </div>
    <!-- two bar chart -->
    <div class="col-12 d-flex justify-content-center align-items-center max-height">
      <canvas baseChart [datasets]="barChartData" [options]="barChartOptions" [labels]="barChartLabels"
        [chartType]="barChartType" [colors]="barChartColors">
      </canvas>
    </div>
  </div>
</div>
