.loader-block {
    z-index: 1001;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
  }