<div class="row mx-0 h-100">
  <div class="p-4 div-border w-100">
    <div class="col-12">
      <p class="text-lg text-light"> <b> Man Power </b> </p>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-between">
      <p class="mb-0 text-sm text-success"> 1000 Units </p>
      <p class="mb-0 text-sm text-danger"> 10% </p>
    </div>
    <!-- dougnut chart -->
    <div class="col-12 d-flex justify-content-center align-items-center max-height">
      <canvas baseChart
        [datasets]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [options]="chartOptions"
        [chartType]="doughnutChartType"
        [plugins]="doughnutChartPlugins">
      </canvas>
    </div>
  </div>
</div>
