.bg-light2 {
  background-color: var(--tertiary);
}

.bg-energy {
  background-color: var(--tea-green);
  border: 1px solid var(--emerald);
}

.bg-manpower {
  background-color: var(--cancelled);
  border: 1px solid var(--cancelled);
}

.bg-production {
  background-color: var(--light-blue);
  border: 1px solid var(--secondary);
}
