<div class="row mx-0 py-5 px-4">
  <div class="col-12 col-lg-4 mb-4 h-100">
    <app-production></app-production>
  </div>

  <div class="col-12 col-lg-4 mb-4 h-100">
    <app-energy-consumption></app-energy-consumption>
  </div>

  <div class="col-12 col-lg-4 mb-4 h-100">
    <app-man-power></app-man-power>
  </div>
</div>
<div class="row mx-0 pb-5 px-4">
  <div class="col-12 col-lg-4 mb-4 h-100">
    <app-water-management class="h-100"></app-water-management>
  </div>

  <div class="col-12 col-lg-4 mb-4 h-100">
    <app-alarm-security></app-alarm-security>
  </div>

  <div class="col-12 col-lg-4 mb-4 h-100">
    <app-overall-efficiency></app-overall-efficiency>
  </div>
</div>




