<div class="row mx-0 pt-4 px-4 ">
  <div class="col-12 mb-3">
    <p class="text-xxl text-light"> <b> Dashboard </b> </p>
  </div>
  <div class="col-12 mb-4 mb-lg-0">
    <app-production></app-production>
  </div>

</div>

<div class="row mx-0 pb-5 py-lg-5 px-4 set-height">
  <div class="col-12 col-lg-4 mb-4 mb-lg-0">
    <app-man-power></app-man-power>
  </div>

  <div class="col-12 col-lg-4 mb-4">
    <app-alarm-security></app-alarm-security>
  </div>

  <div class="col-12 col-lg-4 mb-4">
    <app-overall-efficiency></app-overall-efficiency>
  </div>
</div>

<div class="row mx-0 pb-5 py-lg-5 px-4 set-height">
  <div class="col-12 col-lg-6 mb-4 mb-lg-0">
    <app-energy-consumption></app-energy-consumption>
  </div>
  <div class="col-12 col-lg-6 mb-4">
    <app-water-management class="h-100"></app-water-management>
  </div>
</div>
