<div class="row mx-0 h-100 max-height">
  <div class="p-4 div-border w-100">
    <div class="col-12 px-0" style="border-radius: 5px;">
      <div class="p-3">
        <p class="text-m text-light"> <b> Information </b> </p>
      </div>
    </div>
    <div class="col-12 bg-primary" style="border-radius: 5px;">
      <div class="p-3">
        <div class="text-m text-light d-flex align-items-center justify-content-between">
          <p class="opacity-90 mb-0"> Model: </p>
          <p class="mb-0 d-inline text-lg opacity-100"> <b> RA - 250 PG-2 </b> </p>
        </div>
      </div>
    </div>
    <div class="col-12 bg-info my-3" style="border-radius: 5px;">
      <div class="p-3">
        <div class="text-m text-light d-flex align-items-center justify-content-between">
          <p class="opacity-90 mb-0"> Version: </p>
          <p class="mb-0 d-inline text-lg opacity-100"> <b> V 1.0.3 </b> </p>
        </div>
      </div>
    </div>
    <div class="col-12 bg-emrald" style="border-radius: 5px;">
      <div class="p-3">
        <div class="text-m text-light d-flex align-items-center justify-content-between">
          <p class="opacity-90 mb-0"> Commisioned date: </p>
          <p class="mb-0 d-inline text-lg opacity-100"> <b> 18/10/2022 </b> </p>
        </div>
      </div>
    </div>
  </div>

</div>
