.input-box{
  font-size: var(--size-large, 2rem) !important;
  max-width: 10rem;
  color: var(--primary) !important;
  border-radius: .5rem !important;
  padding: 0rem .5rem;
  background-color: var(--emerald);
}

.checkbox ::ng-deep .mat-checkbox-inner-container{
  border: 1px solid var(--white);
}

.checkbox ::ng-deep .mat-checkbox-label{
  font-size: var(--size-small) !important;
}

