<div class="row mx-0 h-100">
  <div class="p-4 div-border w-100">
    <div class="col-12">
      <p class="text-m text-light"> <b> Alarm & Security </b> </p>
    </div>
    <div class="col-12 text-center">
      <p class="mb-0 text-xxxl text-success"> <b> 0 </b> </p>
      <p class="text-light"> Active Alarms </p>
    </div>
    <!-- Alarm History -->
    <div class="col-12 alarm-border">
      <p class="my-3 text-lg text-primary text-center"> Alarm History </p>
      <div style="max-height: 20rem;overflow: scroll;">
        <div *ngFor="let x of [1,2,3,4,5,6,7,8,9,10];let i = index">
          <div class="d-flex align-items-center justify-content-between">
            <p> Zone {{ i }} </p>
            <p class="pr-2"> 1/02/2023, {{ x }}PM </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
