
.search-box {
    background: var(--theme);
    border: 1px solid #EBF1FF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 4.75px;
    display: flex;
    height: 47px;
  }


  .focus-border {
    border: 1px solid var(--success) !important;
  }

  .search-box input {
    width: calc(100% - 30px);
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    font-weight: 400;
    font-size: var(--size-small);
    color: var(--secondary);
    background: var(--theme);
  }
  .search-box .dark-theme input {
    background-color: var(--font-color) !important;
    color: var(--grey1) !important;
  }
  ::-webkit-input-placeholder {
    /* Edge */
    font-weight: 400;
    font-size: var(--size-small);
    color: var(--info);
  }

  :-ms-input-placeholder {
    /* Internet Explorer */
    font-weight: 400;
    font-size: var(--size-small);
    color: var(--info);
  }

  ::placeholder {
    font-weight: 400;
    font-size: var(--size-small);
    color: var(--info);
  }
  .search-icon{
  font-size: var(--size-large);
  color: var(--success);
  }
