.custom-filter {
  border: 1px solid var(--secondary);
  box-sizing: border-box;
  border-radius: .6rem;
  height: 2.5rem !important;
  font-size: var(--size-small) !important;
  color: var(--primary) !important;
  font-weight: 500 !important;
  opacity: .7;
  min-width: 10rem !important;
  width: 100% !important;
}

::ng-deep .filterPanelClass {
  margin-top: 2.4rem !important;
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}

.custom-filter:focus {
  border: 1px solid var(--success) !important;
}

::ng-deep .custom-filter .mat-select-trigger {
  height: 100% !important;
}

::ng-deep .custom-filter .mat-select-value {
  vertical-align: middle !important;
  padding-left: 10px;
  font-weight: 400 !important;
  font-size: var(--size-small) !important;
}

::ng-deep .custom-filter .mat-select-arrow {
  opacity: 0 !important;
}

::ng-deep #filter-option .mat-select-panel .mat-option .mat-selected {
  background: transparent !important;
  border-radius: 6px !important;
}

.option-hover {
  background: transparent !important;
}

.option-hover:hover {
  background: var(--athens-gray) !important;
  border-radius: 6px !important;
}

::ng-deep #filter-option .mat-option-text {
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-weight: 500 !important;
  font-size: var(--size-small) !important;
  color: var(--secondary) !important;
}

::ng-deep #filter-option .mat-option {
  height: initial !important;
}

::ng-deep #filter-option .mat-option-text:hover {
  font-weight: 600 !important;
  font-size: var(--size-regular) !important;
  color: var(--primary) !important;
}

::ng-deep #filter-option .mat-select-panel .mat-option:hover {
  background: transparent !important;
  border-radius: 6px !important;
}

.drop-down-body {
  // margin-top: 12px !important;
  position: relative;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
  border: 1px solid #c4c4c4 !important;
  border-radius: 6px;
  background: var(--font-color-2) !important;
}

.focus-border {
  border: 1px solid var(--secondary);
}

.options-scroll {
  max-height: 135px;
  overflow-y: auto;
}

.dropdown-icon-sm {
  position: absolute;
  top: 2px;
  right: 4px;
}
