<div class="row mx-0 h-100">
  <div class="p-4 div-border h-100 w-100">
    <div class="col-12 d-flex align-items-center justify-content-between">
      <p class="text-m text-light"> <b> Water Management </b> </p>
      <div class="select-box-width">
        <app-selectbox [options]="utilityService.calenderFilter" [nameField]="'name'" [defaultOptionId]="''">
        </app-selectbox>
      </div>
    </div>
    <div class="col-12 text-center mb-3">
      <p class="mb-2 text-xl text-success"> <b> 1000 Litres </b> </p>
      <p class="text-sm text-danger d-flex align-items-center justify-content-center"> 10%
        <mat-icon class="icon-size">south</mat-icon>
      </p>
    </div>
    <!-- Line chart -->
    <div class="col-12 d-flex justify-content-center align-items-center max-height">
      <canvas baseChart [labels]="lineChartLabel" [datasets]="lineChartData" [options]="lineChartOptions"
        [chartType]="lineChartType">
      </canvas>
    </div>
  </div>
</div>
