.breadcrumb {
    background: none;
    display: flex;
    align-items: center;
    padding: 10px 16px;
  
    .link-text {
      font-weight: 500;
      font-size: 14px;
      color: var(--greyish-blue);
      cursor: pointer;
    }
  
    .link-arrow {
      font-size: 20px !important;
      color: var(--font-color);
    }
  
    .active-link {
      font-weight: 700;
      color: var(--font-color) !important;
    }
  
    li {
      list-style: none;
      float: left;
    }
  
    li>span {
      outline: none !important;
      border: none !important;
    }
  
  
    li:last-child {
      margin-right: 20px;
    }
  
    li:last-child::after {
      content: "";
    }
  }
  