<div class="row mx-0 ">
  <div class="col-12 bg-success mb-3" style="border-radius: 5px;">
    <div class="p-3">
      <div class="text-m text-light">
        <p class="opacity-90 mb-0"> <b> Uptime </b> </p>
        <p class="mb-0 d-inline text-xl opacity-100"> <b> 10 hrs </b> </p>
      </div>
    </div>
  </div>
  <div class="col-12 bg-primary mb-3" style="border-radius: 5px;">
    <div class="p-3">
      <div class="text-m text-light">
        <p class="opacity-90 mb-0"> <b> Running </b> </p>
        <p class="mb-0 d-inline text-xl opacity-100"> <b> 2 hrs </b> </p>
      </div>
    </div>
  </div>
  <div class="col-12 bg-warning mb-3" style="border-radius: 5px;">
    <div class="p-3">
      <div class="text-m text-light">
        <p class="opacity-90 mb-0"> <b> Down time </b> </p>
        <p class="mb-0 d-inline text-xl opacity-100"> <b> 6 hrs </b> </p>
      </div>
    </div>
  </div>
  <div class="col-12 bg-danger" style="border-radius: 5px;">
    <div class="p-3">
      <div class="text-m text-light">
        <p class="opacity-90 mb-0"> <b> Down </b> </p>
        <p class="mb-0 d-inline text-xl opacity-100"> <b> 1 </b> </p>
      </div>
    </div>
  </div>
  <!-- <div class="p-4 div-border w-100 max-height" style="overflow-y: scroll;">
  </div> -->
</div>
