<div class="row mx-0 h-100 max-height">
  <div class="p-4 div-border w-100">
    <div class="col-6">
      <p class="text-m text-light"> <b> Uptime </b> </p>
      <p class="mb-0 text-lg"> <b> 10 hrs </b> </p>
    </div>
    <div class="col-6">
      <p class="text-m text-light"> <b> Running </b> </p>
      <p class="mb-0 text-lg"> <b> 2 </b> </p>
    </div>
  </div>
  <div class="p-4 div-border w-100">
    <div class="col-6">
      <p class="text-m text-light"> <b> Down time </b> </p>
      <p class="mb-0 text-lg"> <b> 6 hrs </b> </p>
    </div>
    <div class="col-6">
      <p class="text-m text-light"> <b> Down </b> </p>
      <p class="mb-0 text-lg"> <b> 1 </b> </p>
    </div>
  </div>
</div>
