<div class="row">
  <div class="col-12 col-sm-6 col-md-3 mb-4">
    <div class="p-3 bg-success" style="border-radius: 5px;">
      <div class="text-m text-light">
        <p class="opacity-90 mb-0"> <b> Uptime </b> </p>
        <p class="mb-0 d-inline text-xl opacity-100"> <b> 10:00:00 </b> </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-4">
    <div class="p-3 bg-primary" style="border-radius: 5px;">
      <div class="text-m text-light">
        <p class="opacity-90 mb-0"> <b> Machines running </b> </p>
        <p class="mb-0 d-inline text-xl opacity-100"> <b> 2 </b> </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-4">
    <div class="p-3 bg-warning" style="border-radius: 5px;">
      <div class="text-m text-light">
        <p class="opacity-90 mb-0"> <b> Down time </b> </p>
        <p class="mb-0 d-inline text-xl opacity-100"> <b> 6:00:00 </b> </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-3 mb-4">
    <div class="p-3 bg-danger" style="border-radius: 5px;">
      <div class="text-m text-light">
        <p class="opacity-90 mb-0"> <b> Machines down </b> </p>
        <p class="mb-0 d-inline text-xl opacity-100"> <b> 1 </b> </p>
      </div>
    </div>
  </div>
</div>
