/* You can add global styles to this file, and also import other style files */
@import "./theme/variables.css";

html {
  font-family: "Roboto", sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 62.5% !important;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--size-regular, 1.6rem);
  font-weight: 400;
  line-height: 1.5;
  color: var(--light) !important;
  text-align: left;
  background-color: var(--font-color) !important;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

.font-bold {
  font-family: "Roboto Bold" !important;
}

.font-medium {
  font-family: "Roboto Medium" !important;
}

.font-normal {
  font-family: "Roboto Regular" !important;
}

/* Text based classes */

.text-xxxl {
  font-size: var(--size-xxxlarge, 3.5rem) !important;
}

.text-xxl {
  font-size: var(--size-xxlarge, 2.7rem) !important;
}

.text-xl {
  font-size: var(--size-xlarge, 2.4rem) !important;
}

.text-lg {
  font-size: var(--size-large, 2rem) !important;
}

.text-m {
  font-size: var(--size-medium, 1.8rem) !important;
}

.text-sm {
  font-size: var(--size-regular, 1.6rem) !important;
}

.text-xs {
  font-size: var(--size-small, 1.4rem) !important;
}

.text-xxs {
  font-size: var(--size-xsmall, 1.2rem) !important;
}

.text-xxxs {
  font-size: var(--size-xxsmall, 1rem) !important;
}

.text-grey {
  color: var(#808080) !important;
}

.text-label {
  color: var(--font2, #4a4a4a);
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

// font colors
.font-stepper-label1 {
  color: #a8a8a8;
}

.font-stepper-label2 {
  color: #808080;
}

/* Page layout */
.page-title {
  font-family: "Roboto Regular", "Inter", sans-serif !important;
  font-weight: 700 !important;
  color: var(--dark, #3a3a3a);
  background: white;
  font-size: var(--size-large);
}

.page-title-staff {
  font-family: "Roboto Regular", "Inter", sans-serif !important;
  font-weight: 700 !important;
  color: var(--dark, #3a3a3a);
  background: white;
  font-size: var(--size-regular);
}

.detail-page-title {
  font-family: "Roboto Regular", "Inter", sans-serif !important;
  font-weight: 700 !important;
  color: var(--dark, #3a3a3a);
  // background: white;
  font-size: var(--size-medium);
}

.detail-page-sub-title {
  font-family: "Roboto Regular", "Inter", sans-serif !important;
  font-weight: 700 !important;
  color: var(--dark, #3a3a3a);
  // background: white;
  font-size: var(--size-xsmall);
}

.page-back {
  width: 75px;
  padding-left: 5px;
  background: var(--light);
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: var(--size-xsmall, 1.2rem) !important;
  font-family: "Roboto Regular", "Inter", sans-serif !important;
  font-weight: 700 !important;
  color: var(--primary, #007bff) !important;
  cursor: pointer;
}

/* Image/icon sizes */

.img-icon {
  width: 1.6rem !important;
  height: 1.6rem !important;
  object-fit: cover;
}

.img-square-sm {
  width: 3.5rem !important;
  height: 3.5rem !important;
  object-fit: cover;
}

.img-square-m {
  width: 7rem !important;
  height: 7rem !important;
  object-fit: cover;
}

.img-circle-sm {
  width: 3.5rem !important;
  height: 3.5rem !important;
  border-radius: 50%;
  object-fit: cover;
}

.img-circle-m {
  width: 7rem !important;
  height: 7rem !important;
  border-radius: 50%;
  object-fit: cover;
}

/* layouts */
.ct-card {
  background: #ffffff;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}

//overriding material styles

//radio button

.mat-radio-label-content {
  color: var(--font-color-2) !important;
  font-size: var(--size-small, 1.4rem) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: var(--sea-green) !important;
}

.mat-radio-outer-circle {
  border-color: var(--sea-green) !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--sea-green) !important;
}

//checkbox

.mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: var(--sea-green) !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--sea-green) !important;
}

//slide-toggle

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--primary) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--sea-green) !important;
}

//mat form field
.mat-form-field-underline {
  display: none !important;
}

.mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
  padding: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border: none !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
  padding: 0.5rem 1.5rem !important;
  background: #ffffff !important;
  height: 4.5rem;
  display: flex;
  align-items: center;
}

.edit-input.mat-form-field-appearance-fill .mat-form-field-flex {
  border: 1px solid var(--spring-rain) !important;
  border-radius: 4px !important;
}

.edit-input.mat-form-field-appearance-fill.mat-form-field-invalid
  .mat-form-field-flex {
  border: 1px solid var(--danger) !important;
  border-radius: 4px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.text-area.mat-form-field-appearance-fill .mat-form-field-infix {
  height: auto !important;
}

.text-area.mat-form-field-appearance-fill .mat-form-field-flex {
  height: auto !important;
}

.edit-input > .mat-form-field-wrapper {
  padding-bottom: 1.5rem !important;
}

.select-field > .mat-form-field-wrapper {
  padding-bottom: 0rem !important;
}

.mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
  padding: 0.5rem 1rem !important;
}

.auth-search.mat-form-field-appearance-fill .mat-form-field-flex {
  height: 5rem !important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0rem !important;
  border-top: 0rem !important;
  height: 100%;
  display: flex;
  align-items: center;
}

.mat-form-field-type-mat-native-select.mat-form-field-appearance-fill
  .mat-form-field-infix::after {
  margin-top: 0px !important;
}

.header-field > .mat-form-field-wrapper {
  padding-bottom: 0em !important;
}

//button
.form-control {
  min-height: 46px;
  background-color: white !important;
}

.form-control-lg {
  font-size: 1.4rem;
  border: 1px solid #abceb3 !important;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn {
  font-size: var(--size-small, 1.3rem) !important;
  padding: 0rem 2rem !important;
  font-family: "Roboto Regular", "Inter", sans-serif;
  font-weight: 500 !important;
  height: auto;
  color: var(--light) !important;
}

button {
  outline: none !important;
}

.btn-icon {
  padding: 0.6rem !important;
  height: 3.6rem !important;
  width: 3.6rem !important;
}

// mat tabs

.mat-tab-label,
.mat-tab-link {
  font-family: "Roboto Regular", "Inter", sans-serif !important;
  font-weight: 600 !important;
  font-size: var(--size-small, 1.3rem) !important;
  color: var(--dark, #3a3a3a) !important;
}

.mat-tab-label-active {
  opacity: 1 !important;
}

// mat-menu
.mat-menu .mat-menu-content:not(:empty) {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.mat-menu .mat-menu-panel {
  background: white;
  box-shadow: none;
}

.mat-menu-item:hover:not([disabled]) {
  background: white;
}

.ct-table .mat-menu-trigger,
ct-table .mat-menu-trigger:focus,
ct-table .mat-menu-trigger:hover {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

.mat-menu .mat-menu-content:not(:empty) {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.mat-menu .mat-menu-item,
.mat-menu .mat-menu-item:focus,
.mat-menu .mat-menu-item:hover {
  height: 3rem !important;
  line-height: 3rem !important;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  box-shadow: 0rem !important;
  outline: none !important;
  border: none !important;
}

.mat-menu .mat-menu-panel {
  background: white;
  box-shadow: 0rem !important;
  outline: none !important;
}

// Mat table

.ct-table {
  overflow-x: auto;
}

.ct-table .mat-table.mat-table {
  min-width: 850px;
}

.ct-table-footer {
  min-width: 850px;
}

.ct-table .mat-cell,
.mat-footer-cell {
  font-weight: 500 !important;
  font-family: "Roboto Regular", "Inter", sans-serif !important;
  font-size: var(--size-small) !important;
}

.ct-table mat-row,
mat-header-row,
mat-footer-row,
th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border: none !important;
}

.ct-table .mat-row:nth-child(odd) {
  background-color: var(--light, #f9f9f9);
}

//mat table paginator

.mat-paginator-navigation-last {
  display: none !important;
}

.mat-paginator-navigation-first {
  display: none !important;
}

.mat-paginator-navigation-previous {
  position: relative;
  right: 100px !important;
}

.mat-paginator-range-label {
  position: relative;
  left: 50px !important;
}

@media screen and (max-width: 992px) {
  .push-right .side-bar {
    margin-left: -250px !important;
  }
}

//accordian

.mat-expansion-panel {
  box-shadow: none !important;
  // border: 1px solid var(--tea-green) !important;
  margin-bottom: 10px !important;
}

.mat-expansion-panel.mat-expanded {
  // border: 1px solid var(--primary) !important;
  background-color: var(--gin) !important;
}

.mat-expansion-panel-header {
  border: none !important;
  padding: 1rem 2rem !important;
  height: auto !important;
}

.mat-expansion-panel-header-title {
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 175% !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: row !important;
}

.mat-expansion-panel-body {
  padding: 0 20px 16px;
}

.mat-expansion-panel-header-description {
  margin-right: 0px !important;
  display: flex;
  justify-content: end;
}

.search-input {
  border: 1px solid var(--spring-rain) !important;
  border-radius: 0.4rem;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: row;
}

.table-filter {
  background: #fff !important;
  border: 1px solid var(--spring-rain) !important;
  box-sizing: border-box;
  // border-radius: 1rem;
  border-radius: 0.5rem;
  padding: 6px 10px;
  height: 40px !important;
  display: flex;
  align-items: center !important;
}

.table-filter .mat-select-arrow {
  margin: 0px !important;
  position: relative;
  top: -1px;
}

.table-filter input {
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
  position: relative;
  min-height: 24px;
  height: 100% !important;
  width: 100% !important;
  font-size: var(--size-small, 1.4rem) !important;
}

.table-filter input:focus {
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
  position: relative;
  height: 100% !important;
  width: 100% !important;
}

.text-area {
  background: #fff !important;
  width: 100% !important;
  border: 1px solid var(--spring-rain) !important;
  border-radius: 4px !important;
  padding: 10px !important;
  font-size: var(--size-small, 1.4rem) !important;
}

.text-area:focus {
  background: #fff !important;
  border: 1px solid var(--spring-rain) !important;
  outline: none !important;
}

.text-area::placeholder {
  color: rgba(0, 0, 0, 0.42);
}

.text-area::-moz-placeholder {
  color: rgba(0, 0, 0, 0.42);
}

.text-area::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.42);
}

.text-area:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.42);
}

.date-picker input {
  background: #fff !important;
  border: none !important;
  height: 100%;
}

.date-picker input:focus {
  border: none !important;
  outline: none !important;
}

.date-picker {
  background: #fff !important;
  border: 1px solid var(--spring-rain) !important;
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 6px 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center !important;
}

input,
select {
  color: var(--font-color-2) !important;
}

.mat-select-value {
  color: var(--font-color-2) !important;
}

.mat-option-text {
  color: var(--font-color-2) !important;
}

input[type="date"] {
  position: relative;
  padding: 10px;
}

::-webkit-calendar-picker-indicator {
  color: var(--primary) !important;
  opacity: 1;
}

.ngx-file-drop__drop-zone {
  height: auto !important;
  border: 1px dashed var(--background1) !important;
  border-radius: 8px !important;
  font-size: var(--size-small) !important;
}

.ngx-file-drop__content {
  display: block !important;
  height: auto !important;
}

.curser-pointer {
  cursor: pointer;
}

.text-black {
  color: #04180a;
}

.btn-pri {
  color: var(--light) !important;
  background: var(--sea-green) !important;
  min-height: 3.5em;
  // float: right;
}

.btn-pri2 {
  color: var(--light) !important;
  background: var(--sea-green) !important;
  min-height: 3em;
  float: right;
}

.btn-sec {
  color: var(--sea-green) !important;
  border: 1px solid var(--sea-green) !important;
  // background: var(--sea-green) !important;
  min-height: 3em;
  right: 0;
}

.ml-15 {
  margin-left: 15px !important;
}

.text-center {
  text-align: center;
}

.bg-light {
  background: var(--light);
}

.p-15 {
  padding: 15px;
}

.h-400 {
  min-height: 40rem;
}

.font-sm {
  font-size: var(--size-small);
}

.copy-btn {
  float: right !important;
}

.imp-icon {
  float: right !important;
  padding-top: 0.3rem;
}

.close-btn {
  float: right !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.btn-previous {
  // border: 0.1rem solid var(--sea-green) !important;
  background-color: white !important;
  color: var(--sea-green) !important;
  border-radius: 4px !important;
  font-weight: bold !important;
  min-height: 6rem;
}

.btn-custom-cancel {
  border: 0.1rem solid var(--sea-green) !important;
  background-color: white !important;
  color: var(--danger) !important;
  border-radius: 4px !important;
  font-weight: bold !important;
}

.filters {
  height: 4rem;
}

.btn-custom-reject {
  color: white !important;
  background-color: var(--alert) !important;
  border-radius: 4px !important;
  font-weight: bold !important;
}

.btn-custom-suspend {
  color: white !important;
  background-color: var(--tertiary) !important;
  border-radius: 4px !important;
  font-weight: bold !important;
}

.btn-custom-deny {
  border: 1px solid var(--alert) !important;
  background-color: transparent !important;
  color: var(--alert) !important;
  border-radius: 4px !important;
  font-weight: bold !important;
}

.btn-custom-close {
  border: 1px solid var(--alert) !important;
  background-color: transparent !important;
  color: var(--alert) !important;
  border-radius: 4px !important;
  font-weight: bold !important;
  padding: 1rem;
  width: 2rem !important;
  height: 2rem !important;
  text-align: center;
}

.status {
  color: #f2994a !important;
}

.font-xsm {
  font-size: var(--size-xsmall) !important;
}

.word-break {
  word-break: break-all;
}

.mt-30 {
  margin-top: 2rem !important;
}

.title-heading-xs {
  color: #4a4a4a;
  font-weight: bold;
  font-size: 14px;
}

.title-heading-xxs {
  color: #4a4a4a;
  font-weight: 700;
  font-size: 12px;
}

.title-content-xs {
  color: #4a4a4a;
  font-size: 14px;
}

.h-50px {
  height: 4.5rem !important;
}

.item-count {
  background-color: #808080 !important;
  border-radius: 20px !important;
  color: var(--light) !important;
  min-width: 3rem !important;
  height: 18px;
  align-items: center;
  padding: 0 !important;
  margin-left: 0.8rem;
  font-weight: 900 !important;
}

.mat-tab-label-active .item-count {
  background-color: #318e45 !important;
}

.title-heading {
  color: #808080;
  font-weight: bold;
}

.footer {
  // position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  box-shadow: 0px -2px 11px rgba(0, 0, 0, 0.13);
}

.word-break {
  word-break: break-all;
}

.item-count {
  background-color: #318e45 !important;
  border-radius: 20px !important;
  color: var(--light) !important;
  min-width: 3rem !important;
  height: 18px;
  align-items: center;
  padding: 0 !important;
  margin-left: 0.8rem;
}

.title-heading {
  color: #808080;
  font-weight: bold;
}

.footer {
  // position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #ffffff;
  box-shadow: 0px -2px 11px rgba(0, 0, 0, 0.13);
}

.frame {
  width: 75vh;
  margin: 0px;
  height: 100%;
  padding: 1rem;
  overflow-x: hidden;
}

.bg-grey {
  background-color: var(--side-bar);
}

.flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.font-semi-bold {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.add-new-chapter-btn {
  background: #eaf3ec !important;
  border: 1px dashed #a7e0b7 !important;
  border-radius: 6px !important;
}

.add-field-btn {
  background: #ffffff !important;
  border: 1px dashed var(--primary) !important;
  border-radius: 6px !important;
}

.add-dropdown-btn {
  background: transparent !important;
  border: 1px solid var(--primary) !important;
  border-radius: 4px !important;
  color: #037a35 !important;
}

.modal-style {
  overflow: auto;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.25);

  mat-dialog-container {
    max-height: 95vh;
    padding: 0rem !important;
    overflow: auto;

    .dialog-header {
      padding: 2.4rem;
      padding-bottom: 1.8rem;
    }

    .dialog-body {
      padding: 2.4rem;
      padding-top: 0rem;
    }

    .close-btn {
      min-width: 2.4rem;
      height: 2.4rem;
      padding: 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

// styles for toast messages
.success-message {
  background: var(--primary) !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17) !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  color: #ffffff !important;
}

.error-message {
  background: red !important;
}

.warning-message {
  background: orange !important;
}

// filter width styles
// .min-max-18 {
//     min-width: 18rem !important;
//     max-width: 18rem !important;
// }

// loader css
.no-data-block {
  margin-top: 5rem;
  margin-bottom: 3rem;
  height: 10rem !important;
}

.dataloading-block {
  z-index: 10002;
  background-color: white !important;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.dataloading-gif {
  width: 7rem !important;
  height: 7rem !important;
}

.table-nodata-height {
  min-height: 20rem !important;
}

// inner sidebar css
.sidebar {
  border: 1px solid var(--grey1);
  color: #000000;
  font-weight: 500 !important;
}

.sidebar-selected {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: #ffffff !important;
}

.completed-icon {
  position: relative;
  left: -13px;
  top: -14px;
}

.toggle {
  position: fixed;
  left: 20%;
  margin-top: 14%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
