<div class="row mx-0 pt-5 px-4 ">
  <div class="col-12 col-lg-4 mb-4 mb-lg-0">
    <app-info-tile></app-info-tile>
  </div>
  <div class="col-12 col-lg-4 mb-4 mb-lg-0">
    <app-time-tile></app-time-tile>
  </div>
  <div class="col-12 col-lg-4 mb-4 mb-lg-0">
    <app-quantity-tile></app-quantity-tile>
  </div>
</div>
<div class="row mx-0 pb-5 py-lg-5 px-4 set-height">
  <div class="col-12 col-lg-4 mb-4">
    <app-alarms class="h-100"></app-alarms>
  </div>

  <div class="col-12 col-lg-4 mb-4">
    <app-oee></app-oee>
  </div>

  <div class="col-12 col-lg-4 mb-4">
    <app-alarm-history></app-alarm-history>
  </div>
</div>
<div class="row mx-0 pb-5 py-lg-5 px-4 set-height">
  <div class="col-12 mb-4">
    <app-settings class="h-100"></app-settings>
  </div>
</div>
